* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

body, html {
  overflow-y: auto;
}

@media screen and (max-width : 600px) {
    .css-1rhrdda {
      margin-left: 0px;
      margin-right: 0px;
    }
} 